@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #ffffff;
  background-color: #1b1b1b;
}

main {
  padding: 20px;
}